<div class=" jumbotron">
  <div class="tut-title">
    <h1>How to Play</h1>
  </div>
  <div class="instructions">
    <p>1. Click play and enter a username</p>
    <img src="{{rootURL}}assets/images/one.png">

    <p><br>2. Each round will be one minute long</p>
    <img src="{{rootURL}}assets/images/three.png">
    <p><br>3. Enter your guesses of what hashtags are associated with the gif</p>
    <img src="{{rootURL}}assets/images/four.png">
    <p><br>4. The hint will tell you how many tags there are</p>
    <img src="{{rootURL}}assets/images/five.png">
    <p><br>5. Your correct and incorrect guesses will be displayed on the sidebars</p>
    <img src="{{rootURL}}assets/images/six.png">
    <p><br>6. For each correct guess, your score will be updated</p>
    <img src="{{rootURL}}assets/images/seven.png">

    <p><br>8. After the 3rd round, you will get to see how you ranked on the scoreboard</p>
    <img src="{{rootURL}}assets/images/nine.png">
  </div>
  <div class="ready-msg">
    <p>Ready to get started? Click the Play tab at the top to start the game!</p>
  </div>
</div>
